{{define "footer" }}



    <form action="/creds/execute" method="post">
        <div class="fixed-bottom row align-items-center g-6 bg-dark p-3" >
        <div class="col-auto">
                <input type="text" name="footer-domain" class="form-control" id="Footer-Domain-Input" value="{{ .CommanderBar.Domain}}" placeholder="Domain">
        </div>
            <div class="col-auto">
                <input type="text" name="footer-user" class="form-control" id="Footer-User-Input" value="{{ .CommanderBar.User}}" placeholder="Username">
            </div>
            <div class="col-auto">
                <input type="text" name="footer-password" class="form-control" id="Footer-Password-Input" value="{{ .CommanderBar.Password}}" placeholder="Password">
            </div>
            <div class="col-auto">
                <input type="text" name="footer-hash" class="form-control" id="Footer-Hash-Input" value="{{ .CommanderBar.Hash}}" placeholder="Hash">
        </div>
            <div class="col-auto">
                <input type="text" name="footer-host" class="form-control" id="Footer-Host-Input" value="{{ .CommanderBar.Host}}"  placeholder="Host">
            </div>

        <div class="col-auto">
               <select name="command" id="Footer-Command-input">
               {{ range .CommandList }}
                   <option value="{{ .Command }}">{{ .Display }}</option>
                   {{end}}
               </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Build</button>
        </div>
        </div>

</div>
    </form>

<script>
function Delete_Footer_cookie(){
    document.cookie = "domain=''; expires=Thu, 18 Dec 2013 12:00:00 UTC";
    document.cookie = "user=''; expires=Thu, 18 Dec 2013 12:00:00 UTC";
    document.cookie = "password=''; expires=Thu, 18 Dec 2013 12:00:00 UTC";
    document.cookie = "hash=''; expires=Thu, 18 Dec 2013 12:00:00 UTC";
    document.cookie = "host=''; expires=Thu, 18 Dec 2013 12:00:00 UTC";
    document.cookie = "command=''; expires=Thu, 18 Dec 2013 12:00:00 UTC";
    document.getElementById("Footer-User-Input").value = "";
    document.getElementById("Footer-Domain-Input").value = "";
    document.getElementById("Footer-Password-Input").value = "";
    document.getElementById("Footer-Hash-Input").value = "";
    document.getElementById("Footer-Host-Input").value = "";
    Cookie_To_Footer()
}

function Cookie_To_Footer(){
    let output = {};
    let cookie = document.cookie
    cookie.split(/\s*;\s*/).forEach(function(pair) {
        pair = pair.split(/\s*=\s*/);

        output[pair[0]] = pair.splice(1).join('=');
    });
    let json = JSON.stringify(output, null, 4);
    document.getElementById("Footer-User-Input").value = decodeURIComponent(output.user);
    document.getElementById("Footer-Domain-Input").value = decodeURIComponent(output.domain);
    document.getElementById("Footer-Password-Input").value = decodeURIComponent(output.password);
    document.getElementById("Footer-Hash-Input").value = decodeURIComponent(output.hash);
    document.getElementById("Footer-Host-Input").value = decodeURIComponent(output.host);
}


</script>


</div>
</body>
{{end}}