{{define "table"}}
{{template "header" .}}
<table class="table table-striped table-bordered table-bordered" style="table-layout: fixed;word-wrap: break-word">
    <thead>
    <tr>
        <th style="width: min-content">ID</th>
        <th style="width: min-content">Actions</th>
        <th>IP</th>
        <th>Hostname</th>
        <th>FQDN</th>
        <th>Admins</th>
    </tr>
    </thead>
    <tbody>
    {{range .HostEntries}}

    <tr>
        <td class="small">{{.ID}}
            <div style="justify-content: right">
            </div>
        <td class="small">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-sm btn-primary"  onclick="window.location.href='/updateHost/{{.ID}}'" title="Update Entry">U</button>
                <button type="button" class="btn btn-sm btn-secondary btn-danger " onclick="window.location.href='/deleteHost/{{.ID}}'" title="Delete Entry">D</button>

            </div>
        </td>
        <td >
            {{if .IP}}
            <a href="#" onclick="HostSet({{.IP}})">
            {{.IP}}
            </a>

            {{end}}

        </td>
        <td >
            {{ if .Hostname}}
            <a href="#" onclick="HostSet({{ .Hostname}})">
                {{ .Hostname}}
            </a>

            {{end}}
            </td>
        <td >
            {{if .FQDN}}
            <a href="#" onclick="HostSet({{.FQDN}})">
                {{.FQDN}}
            </a>
            {{end}}

        </td>
        <td >{{.Admins}}</td>

    </tr>
    {{end}}
    </tbody>
</table>
<br>
<br>
<script>
    function HostSet(id){
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET","/setHost/"+id,false);
        xhttp.send();
        window.location.href='/hosts'
    }
</script>
{{template "footer" . }}
{{end}}