{{define "settings"}}
{{template "header" . }}
<div class="p-5">
    <div class="col">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/export-entireDB'">Export Database</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-danger" onclick="window.location.href='/wipedatabase'">Delete and Build New Database</button>
    </div>


</div>

<script>
    function wipedatabase() {
        const Http = new XMLHttpRequest();
        const url = '/wipedatabase?confirm=true';
        //TODO Implement Wipedatabase
        Http.open("GET", url);
        Http.send();

        Http.onreadystatechange = (e) => {
            window.location.href = "/"
        }
    }
</script>
{{template "footer" . }}
{{end}}