{{define "table"}}
{{template "header" .}}
<div class="pb-5">
<table class="table table-striped table-bordered table-bordered" style="width: 100%">
    <tr><i>*[H] = Hash Version where available</i></tr>
    <thead>
    <tr>
        <th style="width: min-content">Actions</th>
        <th>Command</th>
        <th>Template</th>
        <th>Example</th>
    </tr>
    </thead>
    <tbody>
    {{range .CommandList}}

    <tr>

        <td class="small">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-sm btn-primary"  onclick="window.location.href='/updateCommand/{{.ID}}'" title="Update Entry">U</button>
                <button type="button" class="btn btn-sm btn-secondary btn-danger " onclick="window.location.href='/deleteCommand/{{.ID}}'" title="Delete Entry">D</button>

            </div>
        </td>
        <td >

            {{ .Display}}
        </td>
        <td>
            <pre><code>{{ .Command}}</code></pre>
            </td>
        <td>

            <code>{{ .Example}}</code>

        </td>

    </tr>
    {{end}}
    </tbody>
</table>
<br>
<br>
<script>
    function HostSet(id){
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET","/setHost/"+id,false);
        xhttp.send();
        window.location.href='/hosts'
    }
</script>
</div>
{{template "footer" . }}
{{end}}